*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color: rgb(187, 181, 181) ;
    height: 47vw;
    width: 15vw;
    font-family:'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
    
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{

    text-decoration: none;
    color: black;
}
    

.main{
    width: 90vw;
    
}


.container{
    display: flex;
    
}

.infocontainer{
    height: 48vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    

}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.hello{
    font-size: 45px;

}

.name{
    font-size: 40px;
    font-weight: bold;

}

.about{
    font-size: 40px;

}
.moreabout{
    font-size: 22px;
    margin-top: 23px;

}

.button{
    margin-top: 20px;
    text-decoration-line: none;
}
.button button{
    padding: 7px 13px;
    border-radius: 20px;
    color: white;
    background-color: rgb(31, 31, 231);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.button button:hover{
    color: blue;
    background-color: white;
}

.btn button{
    padding: 5px 12px;
    border-radius: 20px;
    color: white;
    background-color: rgb(31, 31, 231);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.cv{
    text-align: center;
    font-size: 30px;

}
.btn button:hover{
    color: blue;
    background-color: white;
}

.devpic img{
    height: 55vh;
}
.intro{
    margin: 0 88px;
    margin-left: 20vw;
    margin-top: 10vh;
    font-size: 20px;
}

.intro h2{
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;
}

.intro p{
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;
}
.skillcontainer{
    margin: 20px;
    padding: 12px;

}

.skillitem{
    display: flex;
    align-items: center;
}
.skill{

    width: 265px;
    height: 6px;
    background-color: blue;
    border: 2px solid black;
}

.css{
    width: 70px;
    background-color: blue;
}

.html{
    width: 120px;
    background-color: yellow;
}
.js{
    width: 30px;
    background-color: cyan;
}

.cc{
    width: 110px;
    background-color: red;
}

.sidebargo{

    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburg{
    position: absolute;
    top: 10px;
    left: 20px;
}

.ham{
    cursor: pointer;
    margin-left: 10px;
    

}
.cross{
    margin-left: 190px;
    cursor: pointer;
}

.click{
    font-weight: bold;
    font-size: 15px;
    top: 15px;
    left: 70px;
    position:absolute;
}

.blogitem{
    margin: 20px;
    font-family: sans-serif;
    margin-left: 20vw;
}
.blogcontainer h1{
    margin: 25px;
    margin-left: 20vw;
    font-family: sans-serif;
}

.blogitem p{
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 850px) {
   

.devpic img{
    display: flex;
    height: 20vh;
  }
 .hello{
    font-size: 35px;
   }
 .name{
    font-size: 30px;
    font-weight: bold;

}
 .about{
    font-size: 30px;

}   
.moreabout{
    font-size: 16px;
    margin-top: 23px;

}   
.sidebar{
    background-color: rgb(187, 181, 181) ;
    height: 200vw;
    width: 50vw;
    font-family:'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
        padding: 95px;
        
    }
    
.sidebar nav li {
        list-style: none;
        font-size: 20px;
        padding: 18px 0px;
    }
    
.sidebar nav li a{
    
        text-decoration: none;
        color: black;
    }
.cross{
    margin-left: 130px;
}    
}

